<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login IS2</title>
    <link rel="stylesheet" href="../css/style-login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="login-section">
        <div class="login">
            <div class="title-login_primary">BIENVENIDO</div>

            <form action="" class="form-primary">
                <label for="" class="label-input user">Usuario</label>
                <input type="text" name="" placeholder="Ingresa tu nombre de usuario" id="" class="input-login">

                <label for="" class="label-input password">Contraseña</label>
                <input type="password" name="" id="" placeholder="Ingresa tu contraseña" class="input-login">

                <input type="submit" value="Iniciar sesión" class="button-login_primary">
            </form>

        </div>
    </section>
</body>
</html>